* {
  border-radius: 0 !important;
}

body {
  border: 5px solid purple;
}

section {
  background-color: orange;
  border: 1px dashed;
}

header {
  background-color: blue;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

h1 > small {
  color: lightgrey;
}

article {
  padding: 10px;
  background-color: #333;
}

aside {
  background-color: #222;
}

footer {
  background-color: red;
}

.navbar-default {
  background-color: blue;
}

.navbar-header .navbar-brand {
  color: white;
}

.navbar .navbar-nav > li > a {
  color: white;
}

.navbar .navbar-nav > li:hover > a {
  color: black;
  background-color: white;
}

.navbar .navbar-nav > li.active > a {
  color: white;
  background-color: purple;
}

.navbar .navbar-nav > li.active:hover > a {
  background-color: white;
}

.navbar .navbar-text {
  color: white;
}

.btn-default {
  color: white;
  background-color: black;
}

.jumbotron {
  color: white;
  background-color: blue;
}


.box {
  border: 1px dashed black;
}
